@mixin centercolumn($width) {
  width: $width;
  margin-left: (100-$width)/2;
  margin-right: (100-$width)/2;
}

.centercolumn {
  @include centercolumn($layout-center-xsm);

  @media #{$mq-sm} {
    @include centercolumn($layout-center-sm);
  }

  @media #{$mq-med} {
    @include centercolumn($layout-center-med);
  }

  @media #{$mq-lrg} {
    @include centercolumn($layout-center-lrg);
  }

  @media #{$mq-xlrg} {
    @include centercolumn($layout-center-xlrg);
  }

  @media #{$mq-xxlrg} {
    @include centercolumn($layout-center-xxlrg);
  }
}
