.post-header {
  margin-bottom: $ms-double;
}

.post-body {
  > div,
  > p,
  > ul,
  > ol,
  > blockqoute,
  > iframe,
  > video,
  > audio,
  > figure,
  > textarea
  pre {
    margin-bottom: $ms-default !important; //override embed inline style
  }

  .twitter-tweet-rendered {
    // Override embedded tweet styles
    margin-top: 0 !important;
    margin-right: auto !important;
    margin-bottom: $ms-default !important;
    margin-left: auto !important;
    max-width: 100% !important;
    width: 100% !important;
  }

  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    position: relative;

    &:hover {
      .anchor {
        color: darken( $color-lowlight, 30% );
        text-decoration: none;
      }
    }
  }
}

.anchor {
  color: darken( $color-lowlight, 15% );
  position: absolute;
  right: 100%;
  margin-right: .125em;

  @media #{$mq-med} {
    margin-right: .25em;
  }
}
