---
import Layout from "../../layouts/Default.astro";
import { getCollection, render } from "astro:content";
import {
    cloudinaryClient,
    cloudinaryResourceSchema,
    type CloudinaryResource,
} from "../../utils/cloudinary";
import CloudinaryImage from "../../components/CloudinaryImage.astro";

export async function getStaticPaths() {
    const posts = await getCollection("posts");

    return posts.map((post) => ({
        params: { slug: post.data.slug },
        props: { post },
    }));
}

const { post } = Astro.props;
let hero: CloudinaryResource;

try {
    const potentialHero = await cloudinaryClient.api.resource(
        post.data.hero_cloudinary_id,
    );
    hero = cloudinaryResourceSchema.parse(potentialHero);
} catch (e) {
    throw Error(JSON.stringify(e));
}

const { Content } = await render(post);
---

<Layout>
    <h1>{post.data.title}</h1>

    <CloudinaryImage cloudinaryResource={hero} />

    <Content />
</Layout>
