---
import Layout from "../../layouts/Default.astro";
import { getCollection, render } from "astro:content";
import { getCloudinaryResource } from "../../utils/cloudinary";
import CloudinaryImage from "../../components/CloudinaryImage.astro";

const { slug } = Astro.params;
const posts = await getCollection("posts");
const post = posts.find((post) => post.data.slug === slug);

if (!post) {
  throw new Error(`Post not found: ${slug}`);
}

const herodId = post.data.hero_cloudinary_id;
const hero = herodId ? await getCloudinaryResource(herodId) : undefined;
const { Content } = await render(post);
---

<Layout>
  <h1>{post.data.title}</h1>

  {hero && <CloudinaryImage cloudinaryResource={hero} />}

  <article>
    <Content />
  </article>
</Layout>

<style>
  article {
    --border-radius: 0.25em;

    line-height: 1.4;
    margin-trim: block;
    padding-block-start: 2lh;
    padding-block-end: 2lh;

    code {
      font-family: "Menlo", "Consolas", "DejaVu Sans Mono", monospace;
      font-size: 0.8em;
    }

    p {
      margin-block: 1lh;

      code {
        background: var(--color-lowlight);
        border-radius: var(--border-radius);
        padding: 0.125em 0.25em;
      }
    }

    .astro-code {
      --x-padding: 1em;
      --y-padding: 0.5em;
      --padding-inline-start: calc(var(--x-padding) / 2);
      --line-number-width: 2.5ch;
      --meta-background: oklch(100% 0 0 / 5%);

      border-radius: var(--border-radius);
      counter-reset: codeblock-line;
      padding-block-end: var(--y-padding);
      padding-block-start: var(--y-padding);
      padding-inline-end: var(--x-padding);
      padding-inline-start: var(--padding-inline-start);
      position: relative;

      &::before {
        background-color: var(--meta-background);
        border-start-start-radius: var(--border-radius);
        bottom: 0;
        content: attr(data-language);
        display: block;
        font-size: 0.8em;
        padding: 0.25em 0.5em;
        position: absolute;
        opacity: 0.75;
        right: 0;
      }

      &::after {
        background-color: var(--meta-background);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: calc(var(--line-number-width) + var(--padding-inline-start));
        content: "";
      }

      .line {
        counter-increment: codeblock-line;

        &::before {
          content: counter(codeblock-line);
          display: inline-block;
          text-align: right;
          margin-inline-end: 1em;
          opacity: 0.5;
          width: 2.5ch;
        }
      }
    }
  }
</style>
