// Font Families
// -------------

%font-anti-aliased {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

%font-default {
  font-family: $font-body;
  font-weight: 400;
  font-style: normal;
}

%font-default-em {
  font-family: $font-body;
  font-weight: 400;
  font-style: italic;
}

%font-default-strong {
  font-family: $font-body;
  font-weight: 700;
  font-style: normal;
}

%font-alternate {
  @extend %font-anti-aliased;

  font-family: $font-headings;
  font-weight: 600;
  font-style: normal;
}

%font-mono {
  // @extend %font-anti-aliased;

  font-family: $font-mono;
  font-weight: 400;
  font-style: normal;
}

// Font Sizes
// ----------

%font-size-sm {
  font-size: $ms-sm;
}

%font-size-norm {
  font-size: $ms-norm;
}

%font-size-med {
  font-size: $ms-med;
}

%font-size-lrg {
  font-size: $ms-lrg;
}

%font-size-xlrg {
  font-size: $ms-xlrg;
}

%font-size-xxlrg {
  font-size: $ms-xxlrg;
}
