$color-sand:         hsl(35, 40%, 95%);
// $color-blue-dark:    hsl(230, 40%, 50%);
$color-blue-dark:    hsl(230, 45%, 51%);
$color-green-dark:   hsl(125, 40%, 30%);
$color-grey-dark:    hsl(0, 0%, 30%);
$color-grey-medium:  hsl(0, 0%, 50%);
$color-flint:        hsl(50, 11%, 41%);
$color-flint-light:  hsl(50, 15%, 90%);
$color-white:        hsl(0, 0%, 100%);

$color-primary:      $color-grey-dark;
$color-secondary:    $color-green-dark;
$color-tertiary:     $color-blue-dark;
$color-quadrary:     $color-flint;
$color-background:   $color-sand;
$color-lowlight:     $color-flint-light;
$color-text:         $color-grey-dark;
$color-text-inverse: invert($color-text);
$color-link:         $color-tertiary;
$color-basic:        $color-white;
