$font-body: "ff-tisa-web-pro", serif;
$font-headings: "proxima-nova", sans-serif;
// $font-mono: "source-code-pro", mono;
// $font-mono: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
$font-mono: Monaco, Consolas, "Lucida Console", monospace;

$ms-base: 16px; // don't worry, it gets converted to ems

// Default Variables
$ms-sm       : $ms-base * .75;
$ms-norm     : $ms-base;
$ms-med      : $ms-base * 1.25;
$ms-lrg      : $ms-base * 1.5;
$ms-xlrg     : $ms-base * 1.75;
$ms-xxlrg    : $ms-base * 2.5;

$ms-smscr-sm       : 14px;
$ms-smscr-norm     : $ms-base;
$ms-smscr-med      : 18px;
$ms-smscr-lrg      : 20px;
$ms-smscr-xlrg     : 22px;
$ms-smscr-xxlrg    : 24px;

$ms-default    : 1.5em;
$ms-quarter    : $ms-default / 4;
$ms-half       : $ms-default / 2;
$ms-double     : $ms-default * 2;
$ms-triple     : $ms-default * 3;
$ms-quadruple  : $ms-default * 4;
