.logo-container {
  width: 6em;
  height: 4em;

  .flexbox &,
  .flexbox-legacy & {
    display: inline-block;
    position: relative;
    height: 0;
    width: 50%;
    padding-bottom: 35%;
    vertical-align: middle;
    overflow: hidden;
    margin: 0 auto;
  }
}

.logo-logo {
  fill: $color-primary;
  margin-bottom: $ms-default;

  .flexbox &,
  .flexbox-legacy & {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.logo-text {
  color: $color-primary;
  text-transform: lowercase;
  margin-top: $ms-half;
}
