---
import Layout from "../layouts/Default.astro";
import { getCollection } from "astro:content";
import ElsewhereItem from "../components/ElsewhereItem.astro";
const elsewhere = await getCollection("elsewhere");
const posts = await getCollection("posts");
---

<Layout>
    <section>
        <h2>Writing</h2>

        <ul>
            {
                posts.map((item) => (
                    <li>
                        <a href={`/posts/${item.data.slug}`}>
                            {item.data.title}
                        </a>
                    </li>
                ))
            }
        </ul>
    </section>

    <section>
        <h2>Elsewhere</h2>

        <ul>
            {elsewhere.map((item) => <ElsewhereItem item={item} />)}
        </ul>
    </section>
</Layout>
