---
import Layout from "../layouts/Default.astro";
import { getCollection } from "astro:content";
import ElsewhereItem from "../components/ElsewhereItem.astro";
const elsewhere = await getCollection("elsewhere");
---

<Layout>
    <p>Hello world!</p>

    <section>
        <h2>About</h2>
        <p></p>
    </section>

    <section>
        <h2>Elsewhere</h2>

        <ul>
            {elsewhere.map((item) => <ElsewhereItem item={item} />)}
        </ul>
    </section>
</Layout>
