---
import Layout from "../layouts/Default.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("posts");

const processedPosts = posts
  .sort((a, b) => (b.data.date > a.data.date ? 1 : -1))
  .filter((item) => !item.data.draft)
  .slice(0, 5);
---

<Layout>
  <section>
    <h2>Writing</h2>

    <ul class="recent">
      {
        processedPosts.map((item) => (
          <li>
            <a href={`/posts/${item.data.slug}`}>{item.data.title}</a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>

<style>
  .recent {
    list-style-type: none;
    padding-inline-start: 0;

    a {
      text-decoration: none;
    }
  }

  section {
    margin-block: 2em;
  }
</style>
