---
import { render } from "astro:content";
import { type CollectionEntry } from "astro:content";

export interface Props {
    item: CollectionEntry<"elsewhere">;
}

const { item } = Astro.props;
const { Content } = await render(item);
---

<li>
    <Content />

    <a href={item.data.url}></a>{item.data.url}
</li>
