    </main>

    <footer class="mainfooter centercolumn background--lowlight">
      <p>You can find me on <a href="http://flickr.com/photos/xiwcx">Flickr</a>, <a href="https://github.com/xiwcx">Github</a>, <a href="https://plus.google.com/105154742602740952287?rel=author">Google+</a>, and <a href="https://twitter.com/xiwcx">Twitter</a>. You can subscribe to this blog using <a href="/feed/feed.xml">RSS</a>.</p>

      <p><small>Content on this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</small></p>
    </footer>

    {{> scripts }}
  </body>
</html>
