<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }} | {{ siteName }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="alternate" type="application/rss+xml" title="{{site.author.name}} » Feed" href="/feed/feed.xml">
    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
  <body>
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header class="mainheader-container centercolumn clearfix" role="banner">
      <nav class="nav-container mainheader-nav" role="navigation">
      <a class="nav-item" href="/">
        <div class="logo-container">
          {{> logo }}
        </div>
        <h1 class="logo-text h6">I. Welch Canavan</h1>
      </a>

        <a class="nav-item h4" href="/">Articles</a>
        <a class="nav-item h4" href="/about">About</a>
      </nav>
    </header>

    <main class="centercolumn">
