<!DOCTYPE html>
<html class="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }} | {{ siteName }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="alternate" type="application/rss+xml" title="{{site.author.name}} » Feed" href="/feed/feed.xml">
    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/atelier-sulphurpool-dark.min.css">
  </head>
  <body>
  <body>
  <body>
    {{> vectors }}
    <!--[if lt IE 8]>
        <p class="">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header class="" role="banner">
      <nav class="" role="navigation">
      <a class="" href="/">
        <div class="logo">
          <div class="logo-container logo-container--shadow">
            <svg class="logo-1" xmlns="http://www.w3.org/2000/svg" xmlns:x="http://www.w3.org/1999/xlink" viewBox="0 0 100 69">
              <use href="#logo"/>
            </svg>
          </div>
          <div class="logo-container">
            <svg class="logo-2" xmlns="http://www.w3.org/2000/svg" xmlns:x="http://www.w3.org/1999/xlink" viewBox="0 0 100 69">
              <use href="#logo"/>
            </svg>
          </div>
          <div class="logo-container">
            <svg class="logo-3" xmlns="http://www.w3.org/2000/svg" xmlns:x="http://www.w3.org/1999/xlink" viewBox="0 0 100 69">
              <use href="#logo"/>
            </svg>
          </div>
        </div>
        <h1 class="visually-hidden">I. Welch Canavan</h1>
      </a>

        <a class="" href="/">Articles</a>
        <a class="" href="/about">About</a>
      </nav>
    </header>

    <main class="">
