*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --dark-pink: oklch(25% 0.04 5);
  --dark-pink-lighter: oklch(35% 0.1 5);
  --light-pink-darker: oklch(90% 0.06 5);
  --light-pink: oklch(98% 0.02 5);
  --dark-chartruese: oklch(45% 0.2 185);
  --light-chartruese: oklch(95% 0.1 185);
  --color-text: light-dark(var(--dark-pink), var(--light-pink));
  --color-lowlight: light-dark(
    var(--light-pink-darker),
    var(--dark-pink-lighter)
  );
  --color-background: light-dark(var(--light-pink), var(--dark-pink));
  --color-text-highlight: light-dark(
    var(--dark-chartruese),
    var(--light-chartruese)
  );

  &:has(#theme-light:checked) {
    color-scheme: light;
  }

  &:has(#theme-dark:checked) {
    color-scheme: dark;
  }

  --font-family-default: "ivyepic-variable", sans-serif;
  --font-family-body: "Crimson Pro", serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-default);
  font-variation-settings: "slnt" 0, "wght" 300, "wdth" 95;
  font-size: clamp(1.2em, 1.75vw, 1.7em);
  display: grid;
  /* https://webtypography.net/2.1.2 */
  grid-template-columns: 1fr min(50ch, 100%) 1fr;
  grid-template-areas:
    ".  header  ."
    ".  main    ."
    ".  footer  .";
  justify-items: center;
  line-height: 1.5;
  padding: 1em 1em 4em;
  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

header {
  grid-area: header;
  width: 100%;

  .title {
    align-items: center;
    display: flex;
    gap: 1em;

    .logo {
      height: 2em;
      width: auto;

      path {
        fill: var(--color-text);
      }
    }

    h1 {
      font-size: 1em;
    }
  }
}

main {
  grid-area: main;
  width: 100%;

  img {
    max-width: 100%;
    height: auto;
  }
}

footer {
  grid-area: footer;
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  color: inherit;
  text-underline-offset: 0.15em;
  text-decoration-thickness: 0.0625em;

  &:visited,
  &:hover {
    color: inherit;
  }
}

.font-body {
  font-family: var(--font-family-body);
  font-variation-settings: initial;
}

.screen-reader-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
