*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background-color: $color-basic;
  color: $color-text;
  font-family: $font-body;
  font-size: 90%;
  padding: $ms-double 0;

  @media #{$mq-sm} {
    font-size: 100%;
  }

  @media #{$mq-med} {
    font-size: 120%;
  }

  @media #{$mq-lrg} {
    font-size: 140%;
  }

  @media #{$mq-xlrg} {
    font-size: 160%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %font-alternate;

  margin: 0;

  a {
    color: $color-secondary;
  }
}

h1 {
  @extend %font-size-xxlrg;
}

h2 {
  @extend %font-size-xlrg;
}

h3 {
  @extend %font-size-lrg;
}

h4 {
  @extend %font-size-med;
}

h5 {
  @extend %font-size-norm;
}

h6 {
  @extend %font-size-sm;
}

p {
  margin-top: 0;
  margin-bottom: $ms-default;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

code {
  @extend %font-mono;

  background-color: $color-lowlight;
}


$label-size: 1em;
$label-vertical-padding: $ms-half/2;
$label-height: $label-size + ($label-vertical-padding * 2);

pre {
  background-color: $color-primary;
  position: relative;
  overflow: hidden;

  code[data-lang] {
    background-color: transparent;
    display: block;
    overflow-y: scroll;
    padding: ($label-height+$ms-half) $ms-half $ms-half $ms-half;

    &:before {
      @extend %font-alternate;
      background-color: $color-secondary;
      content: attr(data-lang);
      color: $color-basic;
      font-size: $label-size;
      left: 0;
      line-height: 1;
      padding: $label-vertical-padding $ms-half;
      position: absolute;
      top: 0;
      width: 101%;
    }
  }
}

time {
  @extend %font-default-em;

  color: $color-quadrary;
}

small {
  @extend %font-size-sm;
}
