// Typography

$font-default: 'PT Serif', Georgia, Times, "Times New Roman", serif;
$font-heading: 'PT Sans', Tahoma, Verdana, Segoe, sans-serif;
$font-display: 'PT Sans Narrow', Tahoma, Verdana, Segoe, sans-serif;
