---

---

<form id="theme-form">
  <fieldset>
    <legend>Theme:</legend>

    <div class="radio-group">
      <label>
        <input
          class="screen-reader-only"
          type="radio"
          name="theme"
          id="theme-system"
          value="system"
        />

        System
      </label>

      <label for="theme-light">
        <input
          class="screen-reader-only"
          type="radio"
          name="theme"
          id="theme-light"
          value="light"
        />

        Light
      </label>

      <label>
        <input
          class="screen-reader-only"
          type="radio"
          name="theme"
          id="theme-dark"
          value="dark"
        />

        Dark
      </label>
    </div>
  </fieldset>
</form>

<script is:inline>
  const input = document.getElementById(
    `theme-${localStorage.getItem("theme")}`
  );
  input.checked = true;

  function handleFormChange(event) {
    document.documentElement.style.colorScheme = null;
    localStorage.setItem("theme", event.target.value);

    const input = event.target;
    input.checked = true;
  }

  const form = document.getElementById("theme-form");
  form.addEventListener("change", handleFormChange);
</script>

<style>
  fieldset {
    all: unset;
    font-size: 0.8em;

    --x-padding: 0.5em;
    --y-padding: 0.25em;
  }

  legend {
    all: unset;
    padding-block: var(--y-padding);
    padding-inline-end: var(--x-padding);
    float: left;
    font-variation-settings: "wght" 500;
    margin-block-end: 2em;
  }

  .radio-group {
    display: inline-flex;
    flex-wrap: wrap;
  }

  label {
    padding-block: var(--y-padding);
    padding-inline: var(--x-padding);
    border-radius: 0.25em;

    &:has(input:checked) {
      background: var(--color-lowlight);
    }
  }
</style>
