.nav-container {
  .flexbox &,
  .flexbox-legacy & {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nav-item {
  display: block;
  margin-bottom: $ms-quarter;

  .flexbox &,
  .flexbox-legacy & {
    flex: 1;
    align-self: center;
    text-align: center;
  }
}
