// MQs

$mq-sm     : "screen and (min-width: 30em)";
$mq-med    : "screen and (min-width: 50em)";
$mq-lrg    : "screen and (min-width: 70em)";
$mq-xlrg   : "screen and (min-width: 90em)";
$mq-xxlrg  : "screen and (min-width: 110em)";
