.background--primary {
  background-color: $color-primary;
}

.background--secondary {
  background-color: $color-secondary;
}

.background--tertiary {
  background-color: $color-tertiary;
}

.background--lowlight {
  background-color: $color-lowlight;
}
