<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link
            href="https://api.fontshare.com/v2/css?f[]=crimson-pro@1&display=swap"
            rel="stylesheet"
        />
        <meta name="generator" content={Astro.generator} />
        <title>Welch Canavan</title>
    </head>

    <body>
        <header>
            <h1><a href="/">Welch Canavan</a></h1>

            <nav>
                <a href="/">Home</a>
            </nav>

            <form onchange="document.cookie = 'theme=' + this.theme.value">
                <fieldset>
                    <legend>Theme</legend>
                    <div>
                        <input
                            type="radio"
                            name="theme"
                            id="theme-system"
                            value="system"
                            checked
                        />
                        <label for="theme-system">System</label>
                    </div>
                    <div>
                        <input
                            type="radio"
                            name="theme"
                            id="theme-light"
                            value="light"
                        />
                        <label for="theme-light">Light</label>
                    </div>
                    <div>
                        <input
                            type="radio"
                            name="theme"
                            id="theme-dark"
                            value="dark"
                        />
                        <label for="theme-dark">Dark</label>
                    </div>
                </fieldset>
            </form>
        </header>
    </body>

    <main>
        <slot />
    </main>

    <footer>
        <p>© 2024 Welch Canavan</p>
    </footer>
</html>

<style>
    :root {
        color-scheme: light dark;

        --dark-green: oklch(25% 0.01 135);
        --light-green: oklch(98% 0.01 135);

        --color-text: light-dark(var(--dark-green), var(--light-green));
        --color-background: light-dark(var(--light-green), var(--dark-green));

        &:has(#theme-light:checked) {
            color-scheme: light;
        }

        &:has(#theme-dark:checked) {
            color-scheme: dark;
        }
    }

    html,
    body {
        margin: 0;
    }

    body {
        font-family: "Crimson Pro", serif;
        background-color: var(--color-background);
        color: var(--color-text);
        transition-property: background-color, color;
        transition-duration: 0.25s;
        transition-timing-function: ease-in-out;
    }
</style>
