<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Welch Canavan</title>
    </head>

    <body>
        <header>
            <h1>Welch Canavan</h1>

            <nav>
                <a href="/">Home</a>
            </nav>
        </header>

        <main>
            <slot />
        </main>

        <footer>
            <p>© 2024 Welch Canavan</p>
        </footer>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
