---
import FormTheme from "../components/Theme/FormTheme.astro";
import Logo from "../components/Logo.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=crimson-pro@1&display=swap"
      rel="stylesheet"
    />
    <meta name="color-scheme" content="dark light" />
    <meta name="generator" content={Astro.generator} />
    <title>i. welch canavan</title>

    <link rel="stylesheet" href="https://use.typekit.net/tdw5rhu.css" />

    <script is:inline>
      const theme = localStorage.getItem("theme") || "system";

      const colorScheme = {
        system: "light dark",
        light: "light",
        dark: "dark",
      };

      document.documentElement.style.colorScheme = colorScheme[theme];
    </script>

    <link rel="stylesheet" href="/styles/main.css" />
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/" class="title">
              <Logo svgProps={{ class: "logo" }} />
              <h1>i. welch canavan</h1>
            </a>
          </li>
          <li>
            <a href="https://github.com/xiwcx">GitHub</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/welchcanavan/">LinkedIn</a>
          </li>
          <li>
            <a href="https://bsky.app/profile/xiwcx.bsky.social">Bluesky</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <p>© 2024 Welch Canavan</p>

      <FormTheme />
    </footer>
  </body>

  <style>
    header {
      nav {
        margin-block-end: 2em;

        ul {
          align-items: center;
          display: flex;
          gap: 1em;
          list-style-type: none;
          margin: 0;
          padding: 0;

          li:first-child {
            font-variation-settings: "wght" 500;

            a {
              text-decoration: none;
            }
          }
        }
      }
    }
  </style>
</html>
